<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	th:replace="~{main_template :: layout(~{::title},~{::body/content()})}">
<head>
<title>Change Password</title>
</head>
<body>
	<section class="container">
		<div class="row content d-flex justify-content-center pt-4">
			<div class="text-center container">
				<div>
					<h3 class="title-color">Change Password</h3>

					<th:block th:if="${session.msg}">
						<p class="text-center fs-4 tex-success">[[${session.msg}]]</p>
						<th:block th:text="${#session.removeAttribute('msg')}">
						</th:block>
				</div>

				<br />
				<form th:action="@{/updatePassword}" method="post"
					style="max-width: 600px; margin: 0 auto;">


					<div class="m-3">
						<div class="form-group row">
							<label class="col-4 col-form-label fw-bold">Password:</label>
							<div class="col-8">
								<input type="password" name="oldPass" class="form-control"
									required />
							</div>
						</div>

						<br />
						<div class="form-group row">
							<label class="col-4 col-form-label fw-bold">Change
								Password:</label>
							<div class="col-8">
								<input type="password" name="newPass" class="form-control"
									required />
							</div>
						</div>
						<br />

						<div>
							<button type="submit" class="btn btn-primary">Change</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>